<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
  </head>
  <body>

    <header class="app-header">
        <div class="top-bar">
            <div class="container">
                <h1>Download draadjes van het Vivaforum</h1>

                <a href="#download-het-programma">Download het programma</a>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>

    <script>
        windowsDownload = document.getElementById("windowsDownload");
        macDownload = document.getElementById("macDownload");
        fillSpan = document.getElementById("systemUsed");
        ifWindows = document.getElementById("ifWindows");
        ifMac = document.getElementById("ifMac");

        if (navigator.appVersion.indexOf("Win") != -1) {
            tellUserSystemUsed = "Het lijkt er op dat je Windows gebruikt.";
            windowsDownload.style.background = "#ffffff";
            ifWindows.removeAttribute("hidden");
        }
        else if (navigator.appVersion.indexOf("Mac") != -1) {
            tellUserSystemUsed = "Het lijkt er op dat je een Mac gebruikt."; 
            macDownload.style.background = "#ffffff";
            ifMac.removeAttribute("hidden");
        } else {
            tellUserSystemUsed = "Helaas lijkt het er op dat je geen Windows of MacOS gebruikt, of niet op een pc naar deze pagina kijkt."
        }
  
        fillSpan.innerHTML = tellUserSystemUsed;
    </script>

  </body>
</html>
