@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/montserrat-v15-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"),
         url("../fonts/montserrat-v15-latin_cyrillic-ext_cyrillic-700.woff") format("woff"); 
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/montserrat-v15-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"),
         url("../fonts/montserrat-v15-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"); 
}

html {
    margin: 0;
    padding: 0;
  font-size: 16px;
}

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.3rem;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

input {
  font-family: inherit;
  width: 100%;
  padding: .3rem .6rem;
  border: 1px solid darkblue;
}

fieldset {
    display: none;
}

input[type="checkbox"]:checked ~ fieldset {
    display: block;
}

/* helper classes */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
} 

.app-header {
    background: #000;
}

.app-header .container,
nav ul,
nav a {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    color: white;
    font-size: 1.6rem;
}

nav li {
    list-style-type: none;
}

nav a {
    color: white;
    margin: 0 1rem;
}

.nav_linklabel {
    padding: 0 1rem;
}
